body {
    margin: 0;
    font-family: 'verdana';
}


.main-header {
    display: flex;
    background-image: url("../img/man-1.jpg");
    height: 100vh;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    justify-content: flex-start;
    align-items: center;
    width: 100%
}

div.napisy1 {

    padding: 25px;
    color: white;
    display: block;
    width: 100%;
}

@media (min-width: 992px) and (max-width: 1170px) {

    .main-header {
        background-image: url("../img/man-2.jpg");
        background-size: 100vh;
        justify-content: center;
        align-items: center;
    }

    div.napisy1 {
        position: relative;
        text-align: center;
        color: greenyellow;
        text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
        position: right;
    }
}

@media (max-width: 991px) {
     .main-header {
        background-size: 50vh;
    }

    div.napisy1 {
        color: black;
        text-align: center;
    }
}